### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
purchase_data = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(purchase_data)

FileNotFoundError: [Errno 2] No such file or directory: 'Resources/purchase_data.csv'

## Player Count

* Display the total number of players

In [ ]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   91.755128    3.050987
std     225.310896    6.659444   52.697702    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   47.750000    1.980000
50%     389.500000   22.000000   92.000000    3.150000
75%     584.250000   25.000000  138.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [ ]:
purchase_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Purchase ID  780 non-null    int64
 1   SN           780 non-null    object
 2   Age          780 non-null    int64
 3   Gender       780 non-null    object
 4   Item ID      780 non-null    int64
 5   Item Name    780 non-null    object
 6   Price        780 non-null    float64
dtypes: float64(1), int64(3), object(3)
memory usage: 42.8+ KB

In [ ]:
#Finding total players 
sn_tot = purchase_data["SN"].unique().size
sn_tot

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Finding the unique items 
item_id = purchase_data["Item ID"].unique().size
item_id

179

In [ ]:
#Finding the average purchase price 
average_pr = purchase_data["Price"].mean()
average_pr

3.050987179487176

In [ ]:
#Finding the number of transactions 
tot_purchased = purchase_data["Purchase ID"].count()
tot_purchased

780

In [ ]:
#Finding the total revenue 
revenue = purchase_data["Price"].sum()
revenue

2379.77

In [ ]:
#Displaying results 
purchase_df = pd.DataFrame({"Total Users":[sn_tot], "Number of Unique Items":[item_id], 
"Average Price" : [f'${average_pr:,.2f}'],
"Number of Purchases" : [tot_purchased],
"Total Revenue" : [f'${revenue:,.2f}']})
purchase_df

,Total Users,Number of Unique Items,Average Price,Number of Purchases,Total Revenue
0,576,179,$3.05,780,"$2,379.77"

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [ ]:
gender_df = purchase_data.groupby("Gender")
gender_df.count().head(3)

                       Purchase ID   SN  Age  Item ID  Item Name  Price
Gender
Female                         113  113  113      113        113    113
Male                           652  652  652      652        652    652
Other / Non-Disclosed           15   15   15       15         15     15

In [ ]:
#Getting the gender numbers without duplicates 
gender_tot = gender_df.nunique()["SN"]
gender_tot

Gender
Female                    81
Male                     484
Other / Non-Disclosed     11
Name: SN, dtype: int64

In [ ]:
#Finding the pct per gender
gender_pct = (gender_tot / sn_tot) 
gender_pct

Gender
Female                   0.140625
Male                     0.840278
Other / Non-Disclosed    0.019097
Name: SN, dtype: float64

In [ ]:
#Make the table and remove the index 
gender_info_df = pd.DataFrame({"Total Count": gender_tot, "Percentage of Players": gender_pct})
gender_info_df.index.name = None

In [ ]:
gender_info_df = gender_info_df.sort_values(["Total Count"], ascending=False)

In [ ]:
#Checking results 
gender_info_df

                       Total Count  Percentage of Players
Male                           484               0.840278
Female                          81               0.140625
Other / Non-Disclosed           11               0.019097

In [ ]:
#Fix the pct column to show pctage 
gender_info_df.style.format({"Percentage of Players": "{:,.2%}".format})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
#Find the avg by gender 
avg_purchase = gender_df["Price"].mean()

In [ ]:
#Find the purchases by gender 
gen_purchases = gender_df["SN"].count()

In [ ]:
#Find the total value of the purchase by gender 
tot_purchase = gender_df["Price"].sum()

In [ ]:
#Find the avg of the total purchase by gender 
avg_tot = tot_purchase/gender_tot

In [ ]:
purchase_by_gen = pd.DataFrame({"Purchase Count": gen_purchases, "Avg Purchase Price": avg_purchase, "Total Purchase Value": tot_purchase,
                                "Avg Total Purchase per Person": avg_tot})

In [ ]:
purchase_by_gen = purchase_by_gen.sort_values(["Purchase Count"], ascending=False)

In [ ]:
avg_purchase = gender_df["Price"].mean()
gen_purchases = gender_df["SN"].count()
tot_purchase = gender_df["Price"].sum()
avg_tot = tot_purchase/gender_tot
purchase_by_gen = pd.DataFrame({"Purchase Count": gen_purchases, "Avg Purchase Price": avg_purchase, "Total Purchase Value": tot_purchase,
                                "Avg Total Purchase per Person": avg_tot})
purchase_by_gen = purchase_by_gen.sort_values(["Purchase Count"], ascending=False)
purchase_by_gen["Avg Purchase Price"] = purchase_by_gen["Avg Purchase Price"].map("${:,.2f}".format)
purchase_by_gen["Total Purchase Value"] = purchase_by_gen["Total Purchase Value"].map("${:,.2f}".format)
purchase_by_gen["Avg Total Purchase per Person"] = purchase_by_gen["Avg Total Purchase per Person"].map("${:,.2f}".format)
purchase_by_gen

,Purchase Count,Avg Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Male,652,$3.02,"$1,967.64",$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [ ]:
#Making bins using ages
bins_ages = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 100]
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [ ]:
#Putting players into bins
purchase_data["Age Group"] = pd.cut(purchase_data["Age"], bins_ages, labels=group_labels)

In [ ]:
age_df = purchase_data.groupby("Age Group")

In [ ]:
#tot players by age 
tot_age_group = age_df["SN"].nunique()

In [ ]:
#pct players by age 
pct_age_group = (tot_age_group/sn_tot)*100

In [ ]:
pct_age_group = pd.DataFrame({"Total Count": tot_age_group, "Percentage of Players": pct_age_group})
pct_age_group["Percentage of Players"] = pct_age_group["Percentage of Players"].map("{:,.2f}%".format)

In [ ]:
#Checking results 
pct_age_group

           Total Count Percentage of Players
Age Group
<10                 17                 2.95%
10-14               22                 3.82%
15-19              107                18.58%
20-24              258                44.79%
25-29               77                13.37%
30-34               52                 9.03%
35-39               31                 5.38%
40+                 12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
age_purchases = age_df["SN"].count()

In [ ]:
avg_purchase_age = age_df["Price"].mean()

In [ ]:
tot_purchase_age = age_df["Price"].sum()

In [ ]:
avg_tot_age = tot_purchase_age/tot_age_group

In [ ]:
#total purchases by age group 
age_purchases= age_df["SN"].count()

#age group average purchase 
avg_purchase_age = age_df["Price"].mean()

#age group average purchase total
tot_purchase_age = age_df["Price"].sum()

#age group average total purchase/person
avg_tot_age = tot_purchase_age/tot_age_group

#set table
purchase_by_age = pd.DataFrame({"Purchase Count": age_purchases, "Average Purchase Price": avg_purchase_age, "Total Purchase Value": tot_purchase_age,
                                      "Average Total Purchase per Person": avg_tot_age})

#format results
purchase_by_age["Average Purchase Price"] = purchase_by_age["Average Purchase Price"].map("${:,.2f}".format)
purchase_by_age["Total Purchase Value"] = purchase_by_age["Total Purchase Value"].map("${:,.2f}".format)
purchase_by_age["Average Total Purchase per Person"] = purchase_by_age["Average Total Purchase per Person"].map("${:,.2f}".format)

purchase_by_age

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Total Purchase per Person
Age Group,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,"$1,114.06",$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#Grouping by sn 
screen_name_df = purchase_data.groupby("SN")

In [ ]:
#purchases by sn 
sn_purchases_df = screen_name_df["SN"].count()

In [ ]:
#purchases avg by sn 
sn_avg_purchase = screen_name_df["Price"].mean()

In [ ]:
#tot purchase value by sn 
sn_tot_purchase = screen_name_df["Price"].sum()

In [ ]:
sn_tot_purchase = pd.DataFrame({"Purchase Count": sn_purchases_df, "Avg Purchace Price": sn_avg_purchase, 
                                         "Total Purchase Value": sn_tot_purchase})

In [ ]:
#format to descending 
sn_tot_purchase = sn_tot_purchase.sort_values(["Total Purchase Value"], ascending=False)

In [ ]:
#Cleaner formatting 
sn_tot_purchase["Avg Purchace Price"] = sn_tot_purchase["Avg Purchace Price"].map("${:,.2f}".format)
sn_tot_purchase["Total Purchase Value"] = sn_tot_purchase["Total Purchase Value"].map("${:,.2f}".format)

In [ ]:
#Checking results 
sn_tot_purchase.head()

             Purchase Count Avg Purchace Price Total Purchase Value
SN
Lisosia93                 5              $3.79               $18.96
Idastidru52               4              $3.86               $15.45
Chamjask73                3              $4.61               $13.83
Iral74                    4              $3.41               $13.62
Iskadarya95               3              $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
#finding the necessary columns 
most_pop_items = purchase_data[["Item ID", "Item Name", "Price"]]

In [ ]:
#grouping by name and ID of item
pop_item_group = most_pop_items.groupby(['Item ID', 'Item Name'])

In [ ]:
#number of times item was purchased 
pop_item_purchases = pop_item_group["Price"].count()

In [ ]:
#avg price for the item 
pop_item_avg_price = pop_item_group["Price"].mean()

In [ ]:
#total value for purchased item 
pop_item_tot_price = pop_item_group["Price"].sum()

In [ ]:
pop_item_tot_price = pd.DataFrame({"Purchase Count": pop_item_purchases, "Average Purchase Price": pop_item_avg_price,
                                         "Total Purchase Value": pop_item_tot_price})

In [ ]:
#format to descending 
pop_item_tot_price = pop_item_tot_price.sort_values(["Purchase Count"], ascending = False)

In [ ]:
#Checking results 
pop_item_tot_price["Average Purchase Price"] = pop_item_tot_price["Average Purchase Price"].map("${:,.2f}".format)
pop_item_tot_price["Total Purchase Value"] = pop_item_tot_price["Total Purchase Value"].map("${:,.2f}".format)
pop_item_tot_price.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
#finding the necessary columns 
most_pop_items = purchase_data[["Item ID", "Item Name", "Price"]]

In [ ]:
#grouping by name and ID of item
pop_item_group = most_pop_items.groupby(['Item ID', 'Item Name'])

In [ ]:
#number of times item was purchased 
pop_item_purchases = pop_item_group["Price"].count()

In [ ]:
#avg price for the item 
pop_item_avg_price = pop_item_group["Price"].mean()

In [ ]:
#total value for purchased item 
pop_item_tot_price = pop_item_group["Price"].sum()

In [ ]:
pop_item_tot_price = pd.DataFrame({"Purchase Count": pop_item_purchases, "Average Purchase Price": pop_item_avg_price,
                                         "Total Purchase Value": pop_item_tot_price})

In [ ]:
#format to descending 
pop_item_tot_price = pop_item_tot_price.sort_values(["Total Purchase Value"], ascending = False)

In [ ]:
#Checking results 
pop_item_tot_price["Average Purchase Price"] = pop_item_tot_price["Average Purchase Price"].map("${:,.2f}".format)
pop_item_tot_price["Total Purchase Value"] = pop_item_tot_price["Total Purchase Value"].map("${:,.2f}".format)
pop_item_tot_price.head()

,,Purchase Count,Average Purchase Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80